<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="board.BoardDAO">

	<insert id="insertBoard" parameterType="boarddto">
		INSERT INTO board (id, b_title, b_content, b_regdate, b_view, b_type, b_img) 
		values(#{id}, ${b_title}, #{b_content}, #{b_regdate}, 0, #{b_type}, #{b_img})
	</insert>
	
	<select id="selectBoardDetail" parameterType="int" resultType="boarddto">
		SELECT FROM board WHERE id=#{id}
	</select>
	
	<update id="updateBoard" parameterType="boarddto">
		UPDATE board 
		SET b_title=#{b_title}, b_content=#{b_content}, b_type=#{b_type} 
		WHERE id=#{id}
	</update>
	
	<delete id="deleteBoard">
		DELETE FROM board WHERE b_no=#{b_no}
	</delete>
	
	<select id="selectBoardList" parameterType="boarddto" resultType="boarddto">
		SELECT FROM board ORDER BY b_type DESC, b_no DESC, b_regdate DESC
	</select>
	
	
	
</mapper>