<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="board.BoardDAO">

	<insert id="insertBoard" parameterType="boarddto">
		INSERT INTO board (id, b_title, b_content, b_regdate, b_view, b_type, b_img) 
		values(#{id}, #{b_title}, #{b_content}, now(), 0, #{b_type}, #{b_img})
	</insert>
	
	<select id="selectBoardDetail" parameterType="int" resultType="boarddto">
		SELECT * FROM board WHERE b_no = #{b_no}
	</select>
	
	<update id="updateBoard" parameterType="boarddto">
		UPDATE board 
		SET b_title=#{b_title}, b_content=#{b_content}, b_type=#{b_type}, b_img=#{b_img} 
		WHERE b_no=#{b_no}
	</update>
	
	<delete id="deleteBoard" parameterType="int">
		DELETE FROM board WHERE b_no=#{b_no}
	</delete>
	
	<select id="selectBoardList" parameterType="int" resultType="boarddto">
		SELECT * FROM board
		ORDER BY b_type, b_regdate DESC 
	</select>
	
	<select id="selectBoardListPage" parameterType="int" resultType="boarddto">
		SELECT * FROM board
		ORDER BY b_type, b_regdate DESC 
		LIMIT #{page}, #{contentnum}
	</select>
	
	<select id="testCount" resultType="int">
		SELECT count(*) FROM board
	</select>
	
	<update id="boardCount" parameterType="boarddto">
		UPDATE board
		SET b_view = b_view + 1
		WHERE b_no = #{b_no}
	</update>
	
	<select id="boardId" parameterType="int" resultType="String">
		SELECT id FROM member as a
		JOIN board as b
		ON a.id = b.id
		WHERE b.b_no = #{b_no}
	</select>
	
	<select id="myboardlist" parameterType="String" resultType="boarddto">
		SELECT * FROM board WHERE id = #{id}
	</select>
	
	<select id="findList" parameterType="map" resultType="boarddto">
		SELECT * FROM board
		<include refid="search"></include>
	</select>
	
	<sql id="search">
		<choose>
			<when test="type.equals('all')">
				<choose>
					<when test="!keyword.equals('')">
						WHERE id like CONCAT('%',#{keyword},'%') 
						OR b_content like CONCAT('%',#{keyword},'%') 
						OR b_title like CONCAT('%',#{keyword},'%') 
						ORDER BY b_type, b_regdate DESC
					</when>
					<otherwise>
						ORDER BY b_type, b_regdate DESC
					</otherwise>
				</choose>
			</when>
			<otherwise>
				<choose>
					<when  test="!keyword.equals('')">
						WHERE b_type=#{type} AND
						(id like CONCAT('%',#{keyword},'%') 
						OR b_content like CONCAT('%',#{keyword},'%') 
						OR b_title like CONCAT('%',#{keyword},'%'))
						ORDER BY b_type, b_regdate DESC
					</when>				
					<otherwise>
						WHERE b_type=#{type} 
						ORDER BY b_type, b_regdate DESC
					</otherwise>
				</choose>
			</otherwise>
		</choose>
	</sql>
	
</mapper>
