<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  
<mapper namespace="mission.MissionDAO">

<!-- 모집중인 단체미션 목록 -->
	<select id="missionlist_group_ing"  resultType = "missiondto">
		select * from mission
		where m_date > CURRENT_DATE() and m_type='group'
		order by m_code;
	</select>	

<!-- 마감된 단체미션 목록 -->	
	<select id="missionlist_group_end"  resultType = "missiondto">
		select * from mission
		where  CURRENT_DATE() >= m_date and m_type='group'
		order by m_code;
	</select>	

<!-- 모집중인 상시미션 목록 -->	
	<select id="missionlist_solo_ing"  resultType = "missiondto">
		select * from mission
		where m_date >= CURRENT_DATE() and m_type='solo'
		order by m_code;
	</select>
	
<!-- 마감된 상시미션 목록 -->
	<select id="missionlist_solo_end"  resultType = "missiondto">
		select * from mission
		where  CURRENT_DATE() > m_date and m_type='solo'
		order by m_code;
	</select>

<!-- 미션 상세페이지에 들어갈 목록 -->	
	<select id = "missiongroup" resultType = "missiondto">
    select * from mission
    where m_code = #{m_code};  
    </select>
    
<!-- 미션 상세페이지의 리뷰 목록(이 미션을 신청하고 완료한 참가목록) -->
	<select id = "missionreview" parameterType="String" resultType = "missiondto">
    select m.m_code, m_name, p_star,p_code, p_photo, p_review, m_date, m_location, p.id, p_redcard, p_complete, b.grade, b.id, g.g_code
    from participation p, mission m, member b, grade g
    where m.m_code = p.m_code and p_complete = 1 and p.id = b.id and g.g_code = b.grade and m_name like CONCAT('%',#{m_name},'%')
    order by p_code desc;
    </select>   
	
<!-- 미션 상세페이지에서 중복미션 확인용(이 미션을 신청한 모든 참가목록) -->
	<select id = "missioncheck" parameterType="String" resultType = "missiondto">
    select m.m_code, m_name, p_star,p_code, p_photo, p_review, m_date, m_location, p.id, p_redcard, p_complete, b.grade, b.id, g.g_code
    from participation p, mission m, member b, grade g
    where m.m_code = p.m_code and  p.id = b.id and g.g_code = b.grade and m_name = #{m_name}
    order by p_code desc;
    </select>   

</mapper>