<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="participation.ParticipationDAO">

	<select id="participation_list" parameterType="String" resultType = "participationdto">
		 select p_code, p.id as id, s.m_code as m_code, m_name, m_photo, p_friends
 	 from member m, participation p, mission s
   		where p.id =m.id and s.m_code = p.m_code and p.id=#{id} order by p_code
	</select>	
	
	   <insert id="participation_register" parameterType="participationdto">
        insert into participation ( p_code, id, m_code, p_friends)
        values ( p_code, #{id}, #{m_code}, #{p_friends} )

    </insert>
  
	
</mapper>