<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="participation.ParticipationDAO">

<!-- 나의 참가 미션 목록(나의 미션) -->
	<select id="participation_list" parameterType="String" resultType = "participationdto">
		 select p_code, p.id as id, s.m_code as m_code, m_name, m_photo, p_friends, p_star, p_review, p_complete, p_photo, m_date, m_carbon, m_point, m_personnel,m_type, m_location
 	 from member m, participation p, mission s
   		where p.id =m.id and s.m_code = p.m_code and p.id=#{id} order by p_code desc;
	</select>	
	
<!-- 단체 미션 신청하기(환경지킴이 모달창에서) -->
<!--  1. insert --> 
	<insert id="participation_register" parameterType="participationdto">
        insert into participation (  id, m_code, p_friends)
        select #{id}, #{m_code}, #{p_friends}
  from dual where not exists(select * from participation where id = #{id} and m_code = #{m_code});
    </insert>
<!-- 2. mission 최대인원 수정 -->
    <update id="participation_register2" parameterType="participationdto">             
        update mission
       set m_personnel = m_personnel - #{p_friends}
       where m_code = #{m_code};
    </update>
    
<!-- 상시 미션 신청&완료하기(환경지킴이 모달창에서) -->
<!--  1. insert --> 
	<insert id="participation_register_complete" parameterType="participationdto">
        insert into participation (  id, m_code, p_friends,  p_photo, p_complete)
        values (#{id}, #{m_code}, 1, #{p_photo}, 1)
    </insert>
<!-- 2. 등급 변경 -->
    <update id="participation_register_complete2" parameterType="participationdto">             
	update member, ( SELECT g_code, g_start, g_end FROM grade) g
	set grade = g.g_code
	where id = #{id} and (carbon BETWEEN g.g_start AND g.g_end); 
    </update>
    
    
<!-- 단체 미션 취소하기(+모집인원 리셋) -->    
    <delete id="delete">
        delete from participation where p_code=#{p_code}
    </delete>
    <update id="participation_delete2" parameterType="participationdto">             
        update mission
       set m_personnel = m_personnel + 1
       where m_code = #{m_code};
    </update>
  
<!-- 나의 미션 인증하기 모달창 목록-->	
	<select id = "mymission_detail" resultType = "participationdto">
   select  p_code, p.id as id, s.m_code as m_code, m_name, m_photo, p_friends, m_date, p_complete, p_review, p_star, m_carbon, m_point, m_personnel, point, m_inform, carbon
 	 from member m, participation p, mission s
    where p.id =m.id and s.m_code = p.m_code and p_code = #{p_code};  
    </select>   
    
<!-- 단체미션 사진 올리고 인증 완료하기(나의 미션 인증하기 모달창에서) -->
<!-- 1. participation 테이블 변경(미션완료, 인증사진) -->
	<update id="participation_complete" parameterType="participationdto">
        update participation 
        set p_complete = 1, p_photo = #{p_photo} 
        where p_code = #{p_code};
    </update>    
<!-- 2. member 테이블 변경(포인트, 탄소배출량) -->
    <update id="participation_complete2" parameterType="participationdto">             
        update member
       set point = point + #{m_point} , carbon = carbon + #{m_carbon}
       where id = #{id};
    </update>
<!-- 3. 등급 변경(상시미션 코드와 중복) -->
    
    
<!-- 별점, 리뷰 쓰기 -->	
<update id="participation_review" parameterType="participationdto">
        update participation 
        set p_star = #{p_star}, p_review = #{p_review} 
        where p_code = #{p_code};
    </update> 
    
     
<!-- 레드카드 -->    
     <update id="redcard" parameterType="participationdto">             
        update participation
       set p_redcard = #{p_redcard} + 1
       where p_code = #{p_code};
    </update>      
</mapper>