<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="zeroshop.ZeroshopDAO">

	<!-- 제로웨이스트샵 목록 -->
	<select id="zeroshoplist"  resultType = "zeroshopdto">
		select * from zeroshop limit 7;
		
	</select>


	<select id="locid" resultType="int" parameterType="locationdto">
		select l_code from location where big_loc=#{big_loc} and small_loc=#{small_loc};
	</select>
	
	<select id="locidall" resultType="int" parameterType="String">
		select l_code from location where big_loc=#{big_loc};
	</select>
	
	<select id="loczero" resultType="zeroshopdto" parameterType="int">
		select * from zeroshop where l_code = #{l_code} order by s_name;
	</select>
	
	<select id="zeroshop" resultType="zeroshopdto" parameterType="int">
		select * from zeroshop where s_code = #{s_code};
	</select>
	
	<select id="noll" resultType="zeroshopdto">
		select * from zeroshop where latitude is null;
	</select>
	
	<update id="setlatlong" parameterType="zeroshopdto">
		update zeroshop set latitude=#{latitude}, longitude=#{longitude} where s_code=#{s_code};
	</update>
	
	<select id="allzeroshop" resultType="zeroshopdto">
		select * from zeroshop;
	</select>
	
</mapper>