<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  <!-- mybatis db 연결정보 세팅 파일 -->

<configuration>

<!-- 1.sql 실행시 결과를 xxxDTO 매핑 -->
<typeAliases>
	<typeAlias type="member.MemberDTO" alias="memberdto"/>
	<typeAlias type="zeroshop.LocationDTO" alias="locationdto"/>
	<typeAlias type="zeroshop.ZeroshopDTO" alias="zeroshopdto"/>
	<typeAlias type="mission.MissionDTO" alias="missiondto"/>
	<typeAlias type="recycling.RecyclingDTO" alias="recyclingdto"/>
	<typeAlias type="participation.ParticipationDTO" alias="participationdto"/>
	<typeAlias type="board.BoardDTO" alias="boarddto"/>
	<typeAlias type="paging.Criteria" alias="criteria"/>
	<typeAlias type="comment.CommentDTO" alias="commentdto"/>
	<typeAlias type="carbon.CarbonDTO" alias="carbondto"/>
	<typeAlias type="mypage.MyguideDTO" alias="myguidedto"/>
	<typeAlias type="grade.GradeDTO" alias="gradedto"/>
</typeAliases>

</configuration>