@charset "UTF-8";

body{
	background-color : #F6F5F0;
	color : #1A271D;
	font-family: 'IBM Plex Sans KR', sans-serif;
	min-width: 1400px;
}

.adminmain{
	margin-left : auto;
	margin-right : auto;
}

.admincontext{
	text-align : center;
}


td{
	font-size : 16px;
	text-align : center;
	font-weight : 400;
	border-right: 2px solid #1A271D;
	border-left : 1px solid #1A271D;
	border-top : 1px solid #1A271D;
	border-bottom : 1px solid #1A271D;
	padding-top : 5px;
	padding-bottom : 5px;
}

td:first-child{
	background-color : #F6F5F0;
}

td:not(first-child){
	background-color : #FFFFFF;
}

.adminmodinserttable{
	border : 2px solid #1A271D;
	width : 60%;
	margin-left : auto;
	margin-right : auto;
	border-collapse: collapse;
	margin-bottom : 100px;
}

.admintd{
	width : 95%;
}

.adminbtn{
	text-align : center;
	margin-bottom : 100px;
}

.adminback,.adminend{
	padding-left : 25px;
	padding-right : 25px;
	padding-top : 7px;
	padding-bottom : 7px;
	font-size : 16px;
	border : 2px #1A271D solid;
	font-weight : 400;
	background-color : #f6f5f0;
	color : #1A271D;
	margin-left : 15px;
	margin-right : 15px;
	
}
.adminback:hover, .adminend:hover, #imageremove:hover{
	background-color : #1A271D;
	color : #f6f5f0;
	cursor : pointer;
}

#previewimg{
	width : 300px;
	height : 180px;
}

#s_location, #id{
	width : 83%;
}

#s_locnotview{
	width : 2px;
	position : relative;
	z-index : -999;
}


#m_type2{
	margin-left:40px;
}

#r_way{
	height : 300px;
}

#p_review{
	height : 100px;
}

#b_content{
	height : 300px;
}

#previewimg{
	margin-top : 10px;
	margin-bottom : 10px;
	border : 1px solid black;
}

#imageremove{
	margin-top : 10px;
	margin-bottom : 5px;
	padding-left : 25px;
	padding-right : 25px;
	padding-top : 7px;
	padding-bottom : 7px;
	font-size : 12px;
	border : 2px #1A271D solid;
	font-weight : 400;
	color : #1A271D;
	display : block;
	margin-left : auto;
	margin-right : auto;
}
