@charset "UTF-8";

body{
	background-color : #F6F5F0;
	font-family: 'IBM Plex Sans KR', sans-serif;
	min-width: 1400px;
}

.adminmain{
	margin-left : auto;
	margin-right : auto;
}

.adminbtnall{
	margin-bottom : 100px;
	text-align : center;
}

.adminbtn{
	display : block;
	margin-left : auto;
	margin-right : auto;
	background-color : #FFFFFF;
	color : #1A271D;
	padding-top : 10px;
	padding-bottom : 10px;
	padding-right : 25px;
	padding-left : 25px;
	font-weight : 500;
	margin-bottom : 5px;
	margin-top : 5px;
	font-size : 18px;
	border : 1px #1A271D solid;
}

.adminbtn:hover{
	background-color : #1A271D;
	color : #F6F5F0;
	cursor : pointer;
}