@charset "UTF-8";

body{
	background-color : #F6F5F0;
	color : #1A271D;
	font-family: 'IBM Plex Sans KR', sans-serif;
	min-width: 1400px;
}

.adminmain{
	margin-left : auto;
	margin-right : auto;
}

.admincontext{
	text-align : center;
}


td{
	font-size : 16px;
	text-align : center;
	font-weight : 400;
	border-right: 2px solid #1A271D;
	border-left : 1px solid #1A271D;
	border-top : 1px solid #1A271D;
	border-bottom : 1px solid #1A271D;
	padding-top : 5px;
	padding-bottom : 5px;
}

td:first-child{
	background-color : #F6F5F0;
}

td:not(first-child){
	background-color : #FFFFFF;
}

.adminmodinserttable{
	border : 2px solid #1A271D;
	width : 60%;
	margin-left : auto;
	margin-right : auto;
	border-collapse: collapse;
	margin-bottom : 50px;
}

.admintd{
	width : 95%;
}

.textarea{
	border : 0;
	resize: none;
	width: 95%;
	overflow: auto;
}

.adminbtn{
	text-align : center;
	margin-bottom : 100px;
}

.adminback{
	padding-left : 25px;
	padding-right : 25px;
	padding-top : 7px;
	padding-bottom : 7px;
	font-size : 16px;
	border : 2px #1A271D solid;
	font-weight : 400;
	background-color : #f6f5f0;
	color : #1A271D;
	margin-left : 15px;
	margin-right : 15px;
	
}
.adminback:hover{
	background-color : #1A271D;
	color : #f6f5f0;
	cursor : pointer;
}

#previewimg{
	width : 300px;
	height : 180px;
	margin-top : 10px;
	margin-bottom : 10px;
	border : 1px solid black;
}

#c_container{
	width : 60%;
	margin-left : auto;
	margin-right : auto;
	text-align:left;
	height : 70px;
}

#c_title{
	width : 60%;
	margin-left : auto;
	margin-right : auto;
	text-align:left;
}

#c_comment{
	background-color :white;
	width : 70%;
	height: 35px;
	margin-right : 20px;
	font-size : 14px;
	border-style: 1px solid #1A271D;
	resize: none;
	overflow: auto;
	display: inline-block;
	padding-left : 10px;
	padding-right : 10px;
}

#cinput_btn{
	height : 40px;
	width : 50px;
	font-size : 13px;
	border : 1px #1A271D solid;
}

#cinput_btn:hover{
	background-color : #1A271D;
	color : #f6f5f0;
	cursor : pointer;
}


#comment_tb{
	width : 65%;
	margin-left : auto;
	margin-right : auto;
	border-collapse: collapse;
	margin-bottom : 50px;
	border: 1px solid gray;
	text-align: center;
}

/* comment css 추가*/

	.cinput_div{
		width : 80%;
		height : 100px;
		margin : 20px auto;
		display : flex;
		align-items : center;
		justify-content: center;
		text-align: center;
	}
	.btn_div{
		width : 80%;
		margin : 0px auto;
		display : flex;
		align-items : center;
		justify-content: center;
		text-align: center;
	}
	.alter_div{
		width : 100%;
		height : 30px;
		margin : 5px auto;
		display : flex;
		align-items : center;
		justify-content: center;
		text-align: center;
		display : inline-block;
	}
	.button{
		text-align : center;
		border: 2px solid #1A271D;
		border-radius: 5px;
		/*padding : 5px 10px;*/
		display: inline-block;
		margin-top:auto;
		margin-bottom:auto;
		height : 80%;
		
	}
	.button:hover{
		background-color: #1A271D;
		color:white;
	}
	
	.a_comment{
		border-style: 1px solid #1A271D;
		resize: none;
		width: 80%;
		height : 20px;
		overflow: auto;
		display: inline-block;
		background-color: #F6F5F0;
		margin : 0px 20px;
	}
	
	.tr2{
		border: 1px dashed gray;
	}
	.td2{
		width : 20%;
		border: 1px dashed gray;
		padding-left : 8px;
		padding-right : 8px;
	}
	.th2{
		width : 20%;
		border-right: 1px solid gray;
		border-bottom: 1px solid gray;
	}
	.td2:nth-child(4){
		width : 6%;
	}
	.td2:last-child{
		width : 6%;
	}
	.td2:first-child{
		width : 30%;
		background-color : white;
	}
	.td3{
		background-color : white;
	}