@charset "utf-8";


.a-s-ic{
width: 50px;
height: 47px;
}

hr.a-divider{
    height: 0.2rem;
    max-width: 3.25rem;
    margin: 1.5rem auto;
    background-color: blue;
    opacity: 1;
}
.a-service-div{
    display: flex;
    flex-wrap: wrap;
  
  
}
.text-center{
text-align: center !important;
}
.mt-5{
margin-top: 3rem !important;
}

div{
display : block;
}

.a-text-center{
text-align: center !important;
}
.about-image-1{
	width:800px; height:700px; float:left; margin-right:40px;
}
h2.envir{
	width:200px; height:150px; border:1px solid green; float:left;
}

