.a-m-section {
	width: 100%;
	height: 500px;
	background-color: #F5EDE2;
	display : flex;
}

.a-m-content {
	width: 50%;
	box-sizing: border-box;
	background-color: #F5EDE2;
	margin : 30px auto;
	vertical-align: middle;
	display : inline-block;
}
.a-text{
	width : 50%;
}
.a-img1{
	margin : 0 auto;
	width : 80%;
}

.a-m-text1 {
	width: 80%;
	padding : 20px;
	margin : 20px auto;
	box-sizing: border-box;
	background-color: #F5EDE2;
	font-size: 21px;
	vertical-align: middle;
	display : inline-block;
}

button { /* TOGETHER */
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 80%;
	color: white;
	background-color: black;
	border: 1px solid black;
	margin-top: 80px;
	margin-bottom: 80px;
	width : 80%;
}

#more {
	width: 130px;
	height : 40px;
	margin-top: 100px;
	text-align: center;
	margin-bottom: 200px;
}

button {
	display: block;
	margin: auto;
}

button:hover {
	width : 80%;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 80%;
	color: black;
	border: 1px solid black;
	background-color: transparent;
}

.a-brand-title,.a-tit{ /*헤이얼스란 */
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	line-height: 67px;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 100px;
}

#a-b, #team-text{
	font-style: normal;
	font-weight: 400px;;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	margin-bottom: 50px;

}
#ourservices{
	background-color: #F5EDE2;
}
.a-s-t,#ser-text{
	text-align: center;
}

.ser-img{
	display : block;
	
}
.all-divider{
	/*position : relative;*/
	width : 70%;
	padding : 20px 40px;
	margin : 20px auto;
	align-content: center;
	display : flex;
	text-align: center;
/* 	top : 50%; */
/* 	left : 10%; */

}

.divider{
	display : inline-block;
	width : 25%;
	padding : 50px;
	text-align: center;	
}

#a-s-t {
	font-style: inherit;
	font-weight: 400;
	font-size: 20px;
	line-height: 40px;
	color: black;
	border: 1px solid black;
	margin-top: 80px;
	margin-bottom: 80px;
	width: 200px;
	background-color: transparent;
}

#a-s-t:hover {
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 40px;
	color:white;
	border: 1px solid black;
	background-color: black;
}



#mem{
	width : 300px;
	height : 270px;
}
#mem1{
	width : 320px;	
	height : 270px;
}
#name{
	text-align: center;
}


#member,#intro-text{
	text-align: center;
}

#team-tit{ 
	font-style: normal;
	font-weight: 600;
	font-size: 70px;
	line-height: 67px;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 100px;
}
#member{
	border: 1px solid black;
	width : 25%;
	height : 50%;
	display : inline-block;
	margin : 30px;
	overflow: hidden;
}








