@charset "UTF-8";


* {/*사이트 전체 폰트 통일*/
	font-family: 'IBM Plex Sans KR', sans-serif;
}
body{
background-color: #F6F5F0;
margin:0;
}
.JoinLoginAll{/*로그인, 회원가입 부분 전체*/
	background-color:#1A271D; 
	color:#F6F5F0; 
	padding-bottom:1px;
	padding-top:0;
}
.JoinLogin{/*로그인, 회원가입 부분 개별*/
	text-align: right;
	margin-right:10px;
	margin-top:0;
	margin-bottom:5px;
	padding-top:10px;
	font-size: 13px;
}
.header_img{/*로고 이미지*/
	 padding-top:5px; 
	 padding-bottom:5px; 
	 padding-left:20px; 
	 vertical-align: middle; 
	 width: 70px;
	 height:70px;
}
.header_ul, .header_li {
	list-style: none;	
	padding : 0;
}
.header_a {
	text-decoration: none;
		font-weight: 500;
		font-size: 20px;
		color: #1A271D;
		text-align: center;
	    display: inline-block;
	    width: 190px;
	    border-radius: 10px;
}



.header_b { /*같은 a태그인데 게시판메뉴만 정렬이 너무 오른쪽으로 가서 따로 정렬*/
	text-decoration: none;
		font-weight: 500;
		font-size: 20px;
		color: #1A271D;
		text-align: left;
}
.header_j { /*JoinLogin 부분의 a 태그(색 변경)*/
	text-decoration: none;
		font-weight: 500;
		font-size: 15px;
		color: #F6F5F0;
		text-align: left;
}
.header_a:hover{
		font-weight: 800;
		font-size:20px;
		color: #1A271D;
}
.header_b:hover{
		font-weight: 800;
		font-size:20px;
}
.header_j:hover{
		font-weight: 800;
		font-size:15px;
}
nav {/* 메뉴바 */
	display:inline-block;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	text-align: center;
	width : 80%;
}
nav .header_ul> .header_li {
	display: inline-block;
	vertical-align: top;
	text-align: center;
}
nav .header_ul> .header_lib {/*같은 li태그인데 게시판메뉴만 정렬이 너무 오른쪽으로 가서 따로 정렬*/
	display: inline-block;
	width: 120px;
	vertical-align: top;
	text-align: center;
}

.whatsup_id{/*What's Up oo !*/ 
	font-weight: 800;
	color:#F3EADF;
	
}
