@charset "UTF-8";
* { /*사이트 전체 폰트 통일*/
	font-family: 'IBM Plex Sans KR', sans-serif;
}
body{
	min-width: 1400px;
}
button { 
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 40px;
	color: #F6F5F0;
	background-color: #1A271D;
	border: 1px solid #1A271D;
	margin-bottom: 80px;
	display: inline-block;
	
}
button:hover{
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 40px;
	color: #1A271D;
	border: 1px solid #1A271D;
	background-color: transparent;

}



.together { /*메인1- TOGETHER */
	width: 150px;
	margin : auto;
	display : block;
}

.m-carbon-title{ /* 메인1 - 탄소발자국을 아세요? */
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	line-height: 67px;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 70px;
	height: 3em; /* 애니메이션 높이 */
    overflow-y: hidden;
    display: block;
     text-align : center;
}
.m-carbon-title .child{
	font-size: 2em;/* 애니메이션 높이 */
    font-weight: bold;
    line-height: 1;
    animation-name: grow;
    animation-duration: 1s;/* 애니메이션 시간 */
}
.m-carbon-text{
	font-size:1em;/* 애니메이션 높이 */
    font-weight: bold;
    line-height: 1;
    animation-name: grow;
    animation-duration: 3s;
}
.m-carbon-text .child {
    font-size: 1em;/* 애니메이션 높이 */
    font-weight: bold;
/*     line-height: 1; */
    animation-name: grow;
    animation-duration: 3s;/* 애니메이션 시간 */
/* font-weight: 400; */
	font-size: 20px;
	line-height: 22px;
	text-align: center;
	line-height: 1.5;
	margin-bottom: 70px;
}
/* 키프레임 애니메이션 */
@keyframes grow {
    from { transform: translateY(3em) }/* 애니메이션 높이 */
    to { transform: translateY(0) }
}


#aff-imges {/*메인2 제휴사*/
	margin: 100px;
	text-align : center;
}
#aff-img{
	width : 20%;
	height : 20%;
}

.affiliates { /*메인2 제휴사 이미지*/
	background-color:#F6F5F0;
}

#aff-text { /*메인2 제휴사*/
	text-align: center;
	margin: 5% auto 10px;
	color:  #1A271D;
}
#m-image{
	text-align: center;
	margin: auto;
	display: block;
	margin-top: 20px;
	margin-bottom: 80px;
	
}

.m-carbon-wrapper{
background: #F3EADF;
}
#main-logo {
	width: 60%;
	height: 60%;
	text-align: center;
	margin: auto;
	display: block;
	margin-top: 60px;
	margin-bottom: 8S0px;
}


#circle_div {
	margin: 0 auto;
	padding: 0 20px;
	display: flex;
	justify-content: center;
	margin-bottom : 80px;
}

.circle {
	border: 1px dotted #006400;
	border-radius: 50%;
	margin: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(12em/ 0.7);
	height: 90px;
}

.ourdata {
	text-align: center;
	vertical-align: middle;
	font-size: 50px;
	font-weight: bold;
}

#info_div {
	width: 80%;
	margin: 20px auto;
	text-align: center;
	padding: 20px;
}
.data_info {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 10px auto;
	font-weight: bold;
	font-size: large;
	margin-bottom : 50px;
}
hr {
	size: 0.5;
	color: black;
	width: 2000px;
	margin-top: 60px;
}

#main-logo {
	margin-top: 200px;
	margin-bottom: 100px;
}

.m-about-text{
	text-align: center;
}

#m-a-t-b {  /*about 텍스트*/
	font-size: 20px;
	color : #1A271D;
}

#about { /*about 버튼*/
	margin-top: 60px;
	width: 150px;
	font-size: 20px;
	margin-bottom: 40px;
}

.m-zeroshop-title{
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	line-height: 67px;
	text-align: center;
	margin-top: 110px;
	margin-bottom : 70px;
}
.m-mission-title{
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	line-height: 67px;
	text-align: center;
	margin-top: 110px;
	margin-bottom : 70px;
}
.m-zeroshop-text,.m-mission-text {
	font-style: normal;
	font-size: 20px;
	text-align: center;
	margin-top: 10px;
}
.m-mission, .m-zeroshop {
	position: relative;
}

.m-mission-db, .m-zeroshop-db {
	display: inline-block;
	width: 100%;
	height: 100%;
	margin: 30px;
	text-align: center;
	margin: auto;
}

#m-mission-img, #m-zeroshop-img {
	width: 100%;
	height: 50%;
	display: inline-block;
	overflow: hidden;
}

#m-mission-each, #m-zeroshop-each {
	display: inline-block;
	border: 1px solid black;
	margin: 50px 30px 30px;
	max-width: 100%;
	height: auto;
}

.swiper-wrapper {
	text-align : center;
}
.swiper{
	margin-bottom : 100px;
	margin-top : 70px;
}

.list{
	height : 200px;
}
