@charset "UTF-8";
body{
	min-width: 1400px;
}
section {
	width: 90%;
	margin: 20px auto;
	padding: 20px;
	color: #1A271D;
}

h1 {
	text-align: center;
}

h3 {
	text-align: center;
}

#menu {
	display: flex;
	align-content: center;
}

#mymenu_div {
	width: 70%;
	height: 500px;
	margin: 10px;
	padding: 10px;
	border: 1px dashed gray;
	overflow: auto;
}

/* 나의 활동 테이블*/
#myMissionDiv{
	display: flex;
	justify-content: center;
}
#missionlist_tb{
	border-collapse: collapse;
	width : 90%;
	margin: 10px;
	padding: 10px;
	border: 1px solid gray;
	text-align: center;
}
.mission_tr:hover{
	background-color: #F3EADF;
}
.mission_th{
	background-color: #F3EADF;
}
#myguidelist_div{
	display: flex;
	justify-content: center;
}
#myboardlist_div1{
	display: flex;
	justify-content: center;
}

.mission_a{
	color:black;
	text-decoration: none;
}
/*리뷰작성 버튼*/
#reviewbtn{
	background-color: #f6f5f0;
	color : black;
	border: 1px solid #1A271D;
}
#reviewbtn:hover {
	background-color: #1A271D;
	color : #f6f5f0;	
}

/* 작성게시물 테이블 */
.no_img{
	width : 80%;
	margin : 0 auto;
	
}

.no_img_div{
	text-align: center;
}

#boardlist_tb, #guidelist_tb, #commentlist_tb{
	border-collapse: collapse;
	width : 90%;
	margin: 10px;
	padding: 10px;
	border: 1px solid gray;
	text-align: center;
}

#commentlist_tb{
	table-layout: fixed;
}

.board_tr:hover{
	background-color: #F3EADF;
}

.board_th:first-child{
	width : 60px;
}
.board_th:nth-child(2){
	width : 60px;
}
.board_th:nth-child(4){
	width : 200px;
}
.board_th:last-child{
	width : 60px;
}

.comment_td:nth-child(3){
	word-wrap : break-word;
	overflow:hidden;
	text-overflow: ellipsis;
}

.comment_tr:hover{
	background-color: #F3EADF;
}
.comment_th:first-child{
	width : 60px;
}
.comment_th:nth-child(2){
	width : 100px;
}
.comment_th:nth-child(4){
	width : 200px;
}
.comment_th:last-child{
	width : 80px;
}
.board_th, .comment_th{
	background-color: #F3EADF;
	padding : 10px;
}
#menu_table {
	border-collapse: collapse;
	width: 30%;
	margin: 10px;
	padding: 10px;
	border: 2px solid #1A271D;
}
.mb_btns{
	padding-left : 25px;
	padding-right : 25px;
	padding-top : 7px;
	padding-bottom : 7px;
	font-size: 16px;
	margin-left: 20px;
	margin-right:20px;
	font-weight : 400;
	outline : 0;
	border : 2px #1A271D solid;
}
.mb_btns:hover {
	cursor : pointer;	
}

#mb_btn_div{
	text-align: center;
	margin : 0 auto;
}

#board_btn{
	background-color : #1A271D;
	color : #f6f5f0;
}

#comment_btn {
	background-color : #f6f5f0;
	color : #1A271D;
}

#menu_tr:last-child {
	border-style: none;
}

#menu_tr:hover {
	background-color: #F3EADF;
}

#profil_div {
	width: 100%;
	height: 100px;
	margin-top: 10px;
	border-style: none;
	background-color: #F6F5F0;
	color: #1A271D;
	font-size: large;
	font-weight: bold;
}

#profil_div:hover {
	background-color: #1A271D;
	color: #F6F5F0;
}

#name {
	width: 50%;
	display: inline-block;
	text-align: center;
	margin: 0px;
	padding: 10px 0px;
	vertical-align: middle;
}

#point {
	font-size: large;
	text-align: center;
	border: 1px solid gray;
	border-radius: 10px;
	margin: 0px 0px;
	padding: 5px 0px;
	width: 30%;
	background-color: #F6F5F0;
	color: black;
}

#pointP p {
	margin: 0px 0px;
}

#grade {
	font-size: large;
	text-align: center;
	border: 1px solid gray;
	border-radius: 10px;
	margin: 0px 0px;
	padding: 5px 0px;
	width: 30%;
	background-color: #F6F5F0;
	color: black;
}

#gradeP p {
	margin: 0px 0px;
}

#carbon {
	font-size: large;
	text-align: center;
	border: 1px solid gray;
	border-radius: 10px;
	margin: 0px 0px;
	padding: 5px 0px;
	width: 30%;
	background-color: #F6F5F0;
	color: black;
}

#carbonP p {
	margin: 0px 0px;
}

#successP {
	font-size: 25px;
	text-align: center;
	margin-top: 200px;
}

/* 미래님 구현 부분 */
/*나의 정보*/
#profileP p{
	margin-top: 0px;
	margin-bottom: 10px;
}

#updateId p{
	display: inline-block;
	margin-right: 78px;
}

#userid {
	display: inline-block;
	border: 2px solid black;
	width: 180px;
}
#couponbtn{
	border: 2px solid black;
	background-color : #f6f5f0;
	display:inline-block;
	margin-left: 10px;
}
#couponbtn:hover {
	background-color: black;
	color : #f6f5f0;
}

/* 현재 비밀번호 */
#pw p{
	display: inline-block;
	margin-right: 30px;
	margin-top:10px;
	margin-bottom: 0px;
}
#pw input{
	border: 2px solid black;
}

/*비밀번호 확인 버튼*/
#pwckbtn{
	border: 2px solid black;
	background-color : #f6f5f0;
	display:inline-block;
	margin-left: 10px;
}
#pwckbtn:hover {
	background-color: black;
	color : #f6f5f0;
}

/* #pwck:focus {
	background-color: black;
	color : #f6f5f0;
} */

/* 새 비밀번호 */
#newpw p {
	display: inline-block;
	margin-right: 45px;
	margin-bottom: 0px;
}
#newpw input {
	border: 2px solid black;
}

/* 새 비밀번호 확인 */
#newpwck p {
	display: inline-block;
	margin-right: 14px;
	margin-bottom: 0px;
}
#newpwck input{
	border: 2px solid black;
}

/* 전화번호 */
#phone p {
	display: inline-block;
	margin-right: 63px;
	margin-bottom: 0px;
}
#phone input{
	border: 2px solid black;
}

/* 회원 정보 수정 */
#update{
	float:left;
	margin-right : 20px;
}

#update input{
	font-size: 15px;
	margin-top : 15px;
	border: 2px solid black;
	background-color : #f6f5f0;
}
#update input:hover {
	background-color: black;
	color : #f6f5f0;
}
#update input:focus {
	background-color: black;
	color : #f6f5f0;
}


/* 회원 탈퇴 */
#withdraw{
	float:left;
}

#withdraw input{
	font-size: 15px;
	margin-top : 15px;
	border: 2px solid black;
	background-color : #f6f5f0;
}
#withdraw input:hover {
	background-color: black;
	color : #f6f5f0;
}
#withdraw input:focus {
	background-color: black;
	color : #f6f5f0;
}

/*나의 미션 버튼*/
#mymission{
	width : 100%;
	height : 100px;
	margin-top: 10px;
	border-style: none;
	background-color: #F6F5F0;
	color: #1A271D;
	font-size: large;
	font-weight: bold;
}
#mymission:hover{
	background-color: #1A271D;
	color : #F6F5F0;
}


/*나의 게시글 버튼*/
#myboard_btn{
	width : 100%;
	height : 100px;
	margin-top: 10px;
	border-style: none;
	background-color: #F6F5F0;
	color: #1A271D;
	font-size: large;
	font-weight: bold;
}
#myboard_btn:hover{
	background-color: #1A271D;
	color : #F6F5F0;
}

/*자주보는 배출 가이드 버튼*/
#myguide{
	width : 100%;
	height : 100px;
	margin-top: 10px;
	border-style: none;
	background-color: #F6F5F0;
	color: #1A271D;
	font-size: large;
	font-weight: bold;
}
#myguide:hover{
	background-color: #1A271D;
	color : #F6F5F0;
}

/* 모달창 클릭시 주변배경 블랙 불투명 */
.modal-overlay {
	width: 100%;
	height: 100%;
	position : fixed;
	left : 0;
	top : 0;
	display : flex;
	flex-direction : column;
	align-items : center;
	justify-content : center;
	
	background : rgba(0,0,0, 0.5);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    display : none;
}

/* 모달창 */
.modal-window{
	background-color : #81A88A;
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 400px;
    height: 400px;
    position: relative;
    padding: 10px;
}

/*스크롤바 숨기기*/
::-webkit-scrollbar {
	display: none;
}

/*레드카드 팝업창*/
.pop {margin:0 auto; max-width:800px;}
        .pop .title {margin:10px 0; font-size:22px; font-weight:600; text-align:center;}
        .pop p {line-height:20px; font-size:20px;}

        .pop {display:none;}
        .pop:before {display:block; content:""; position:fixed; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,.5);}
        .pop .layerBox {position:fixed; left:50%; top:50%; transform:translate(-50%, -50%); padding:30px; background:#fff; border-radius:6px;}
        .pop .layerBox .title {margin-bottom:10px; padding-bottom:10px; font-weight:600; border-bottom:1px solid #d9d9d9; text-align: left;}
        .pop .layerBox .cont {margin-bottom:40px;}
        .pop .layerBox p {line-height:20px; font-size:18px;}
        .pop .layerBox .btnClose {display:inline-block; position:absolute; right:30px; top:40px; padding:6px 12px; color:#444; font-size:15px; text-decoration:underline;}
        .pop .layerBox .btnTodayHide {font-size:15px; font-weight:600; text-decoration:underline;}
        
.span{
	color:red;
	font-weight:600;
	font-size:22px;
}
.name{
	color:#1A271D;
	font-weight:600;
	font-size:22px;
}