@charset "UTF-8";


#profileImgDiv {
	display:inline-block;
	text-align: left;
}

#profileP p{
	margin-top: 0px;
	margin-bottom: 10px;
}

#updateId p{
	display: inline-block;
	margin-right: 78px;
}

#userid {
	display: inline-block;
	border: 2px solid black;
	width: 180px;
}

/* 현재 비밀번호 */
#pw p{
	display: inline-block;
	margin-right: 30px;
	margin-top:10px;
	margin-bottom: 0px;
}
#pw input{
	border: 2px solid black;
}

/*비밀번호 확인 버튼*/
#pwckbtn{
	border: 2px solid black;
	background-color : #f6f5f0;
	display:inline-block;
	margin-left: 10px;
}
#pwckbtn:hover {
	background-color: black;
	color : #f6f5f0;
}

/* #pwck:focus {
	background-color: black;
	color : #f6f5f0;
} */

/* 새 비밀번호 */
#newpw p {
	display: inline-block;
	margin-right: 45px;
	margin-bottom: 0px;
}
#newpw input {
	border: 2px solid black;
}

/* 새 비밀번호 확인 */
#newpwck p {
	display: inline-block;
	margin-right: 14px;
	margin-bottom: 0px;
}
#newpwck input{
	border: 2px solid black;
}

/* 전화번호 */
#phone p {
	display: inline-block;
	margin-right: 63px;
	margin-bottom: 0px;
}
#phone input{
	border: 2px solid black;
}

/* 회원 정보 수정 */
#update{
	float:left;
	margin-right : 20px;
}

#update input{
	font-size: 15px;
	margin-top : 15px;
	border: 2px solid black;
	background-color : #f6f5f0;
}
#update input:hover {
	background-color: black;
	color : #f6f5f0;
}
#update input:focus {
	background-color: black;
	color : #f6f5f0;
}


/* 회원 탈퇴 */
#withdraw{
	float:left;
}

#withdraw input{
	font-size: 15px;
	margin-top : 15px;
	border: 2px solid black;
	background-color : #f6f5f0;
}
#withdraw input:hover {
	background-color: black;
	color : #f6f5f0;
}
#withdraw input:focus {
	background-color: black;
	color : #f6f5f0;
}

/*나의 미션 버튼*/
#mymission{
	width : 100%;
	height : 100px;
	margin-top: 10px;
	border-style: none;
	background-color: #F6F5F0;
	color: #1A271D;
	font-size: large;
	font-weight: bold;
}
#mymission:hover{
	background-color: #1A271D;
	color : #F6F5F0;
}

/*나의 게시글 버튼*/
#myboard{
	width : 100%;
	height : 100px;
	margin-top: 10px;
	border-style: none;
	background-color: #F6F5F0;
	color: #1A271D;
	font-size: large;
	font-weight: bold;
}
#myboard:hover{
	background-color: #1A271D;
	color : #F6F5F0;
}

/*자주보는 배출 가이드 버튼*/
#myguide{
	width : 100%;
	height : 100px;
	margin-top: 10px;
	border-style: none;
	background-color: #F6F5F0;
	color: #1A271D;
	font-size: large;
	font-weight: bold;
}
#myguide:hover{
	background-color: #1A271D;
	color : #F6F5F0;
}

/* 모달창 클릭시 주변배경 블랙 불투명 */
.modal-overlay {
	width: 100%;
	height: 100%;
	position : fixed;
	left : 0;
	top : 0;
	display : flex;
	flex-direction : column;
	align-items : center;
	justify-content : center;
	
	background : rgba(0,0,0, 0.5);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    display : none;
}

/* 모달창 */
.modal-window{
	background-color : #81A88A;
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 400px;
    height: 700px;
    position: relative;
    padding: 10px;
}