@charset "UTF-8";

.zero_search{

	text-align : center;
	margin-top : 50px;
}

#zerosearch1, #zerosearch2{
	padding-left : 18px;
	padding-right : 18px;
	padding-top : 12px;
	padding-bottom : 12px;
	border : 0;
	outline : 0;
	font-size: 16px;
	margin-left: 20px;
	margin-right:20px;
}

#zerosearch2{
	background-color : #EAE8E8;
}

#zerosearch1{
	background-color : #FFDDD0;
	font-weight : bold;
}

#zerosearch1:hover, #zerosearch2:hover{
	cursor : pointer;
}

#loc_menu, #loc_context{
	
	margin-left : auto;
	margin-right : auto;
	width : 85%;
	
	
}

.Locmenu{
	font-size:16px;
	font-weight: bold;
}

#bigloc, #smallloc{
	height : 32px;
	width: 200px;
	padding-left : 10px;
	border: 1px solid #999;
	border-radius: 0px;
	background: url('../../img/arrow.png') no-repeat 95% 50%;
	border-radius: 0px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin-left:10px;
	margin-right:10px;
	font-size : 14px;
}

#bigloc::-ms-expand, #smallloc::-ms-expand {
	display: none;
}

#locbtn{
	height : 29px;
	width : 60px;
	font-size : 15px;
}

#locbtn:hover{
	cursor : pointer;
	background-color : #FFDDD0;
	border : inherit;
}


.Loczeroshop{
	background-color : #EAE8E8;
	color : #395DFF;
	width : 350px;
	height : 150px;
	margin-top : 10px;
	margin-right : 20px;
	margin-bottom : 10px;
	padding-top : 20px;
	padding-left : 15px;
	padding-right : 15px;
	display : inline-block;
}

.Zeroshopimg{
	width : 200px;
	height : 130px;
	margin-right : 10px;
}

.Zeroshopname{
	margin-bottom : 50px;
	display : inline-block;
	vertical-align : top;
	width : 130px;
}

.Nozeroshop{
	margin-top : 10px;
	font-size: 30px;
}


