@charset "UTF-8";
	body{
		min-width: 1400px;
	}
	section{
		padding-bottom: 50px;
	}
	#comment_table{
		width : 80%;
		border: 1px solid gray;
		border-collapse: collapse;
		margin : 30px auto;
	}
	#comment{
		border-style: none;
		resize: none;
		width: 100%;
		overflow: auto;
		background-color: #F6F5F0;
	}
	#view_table{
		width : 90%;
		border-top: 1px solid gray;
		border-bottom: 1px solid gray;
		border-collapse: collapse;
		margin : 30px auto;
	}
	.tr1{
		border-bottom: 1px dashed gray;
	}
	.td1{
		padding : 20px;
	}
	.th1{
		width : 20%;
		border-right: 1px solid gray;
		padding : 20px;
	}
	.th1:nth-child(4){
		vertical-align: top;
	}
	#btn_div{
		text-align: center;
		margin : 30px auto;
	}
	#alterbtn{
		padding : 10px 20px;
		margin-right : 10px;
		border: 2px solid #1A271D;
		border-radius: 5px;
	}
	#alterbtn:hover{
		background-color: #1A271D;
		color : white;
	}
	#deletebtn{
		padding : 10px 20px;
		margin-right : 10px;
		border: 2px solid #1A271D;
		border-radius: 5px;
	}
	#deletebtn:hover{
		background-color: #1A271D;
		color:white;
	}
	#listbtn{
		padding : 10px 20px;
		border: 2px solid #1A271D;
		border-radius: 5px;
		margin-right : 10px;
	}
	#listbtn:hover{
		background-color: #1A271D;
		color:white;
	}
	#view_textarea{
		border-style: none;
		resize: none;
		width: 100%;
		overflow: auto;
		background-color: #F6F5F0;
	}
	#upload_img{
		width : 100px;
	}
	#closeup{
		padding : 10px 20px;
		margin-right : 10px;
		margin-bottom : 10px;
		border: 2px solid #1A271D;
		border-radius: 5px;
	}
	#closeof{
		padding : 10px 20px;
		margin-right : 10px;
		margin-bottom : 10px;
		border: 2px solid #1A271D;
		border-radius: 5px;
	}


	
	/* comment */
	
	.cinput_div{
		width : 80%;
		height : 100px;
		margin : 20px auto;
		display : flex;
		align-items : center;
		justify-content: center;
		text-align: center;
	}
	.btn_div{
		width : 80%;
		margin : 0px auto;
		display : flex;
		align-items : center;
		justify-content: center;
		text-align: center;
	}
	.calter_div{
		width : 80%;
		height : 100px;
		margin : 20px auto;
		display : flex;
		align-items : center;
		justify-content: center;
		text-align: center;
	}
	.button{
		width:84px;
		text-align : center;
		border: 2px solid #1A271D;
		border-radius: 5px;
		padding : 5px 20px;
		display: inline-block;
	}
	.button:hover{
		background-color: #1A271D;
		color:white;
	}
	#c_comment{
		border-style: 1px solid #1A271D;
		resize: none;
		width: 70%;
		height : 50px;
		overflow: auto;
		display: inline-block;
		background-color: #F6F5F0;
		margin : 0px 20px;
	}
	.a_comment{
		border-style: 1px solid #1A271D;
		resize: none;
		width: 70%;
		height : 50px;
		overflow: auto;
		display: inline-block;
		background-color: #F6F5F0;
		margin : 0px 20px;
	}
	#comment_tb{
		width : 80%;
		border: 1px solid gray;
		border-collapse: collapse;
		margin : 30px auto;
		text-align: center;
	}
	.tr2{
		border: 1px dashed gray;
	}
	.td2{
		width : 20%;
		border: 1px dashed gray;
	}
	.th2{
		width : 20%;
		border-right: 1px solid gray;
		border-bottom: 1px solid gray;
	}
	.td2:nth-child(4){
		width : 5%;
	}
	.td2:nth-child(5){
		width : 5%;
	}
	.td2:last-child{
		width : 5%;
	}
	.comment_h{
		text-align: center;
	}
	.calter_div{
		width : 80%;
		border: 1px dashed gray;
	}
