@charset "UTF-8";

body{
	font-family: 'IBM Plex Sans KR', sans-serif;
}

#jointitle {
	margin-bottom: 20px;
}

#joinform {
	text-align: center;
}

input {
	width: 200px;
	height: 30px;
	margin-bottom: 10px;
	border-radius: 0px;
	border: black solid 2px;
}

#nickname {
	width: 125px;
	height: 30px;
}

#nicknamebtn {
	width: 70px;
	height: 35px;
	color : #f6f5f0;
	background-color: black;
}
/* #nicknamebtn:hover {
	background-color: #f6f5f0;
	color: black;
} */

#submit {
	width: 207px;
	color : #f6f5f0;
	background-color: black;
}

/* #submit:hover {
	background-color: black;
	color: #f6f5f0;
} */
