@charset "UTF-8";
body{
	min-width: 1400px;
}

#jointitle {
	margin-top: 100px;
	margin-bottom: 10px;
}

#joinform {
	text-align: center;
}

input {
	width: 200px;
	height: 30px;
	margin-bottom: 10px;
	border: 1px solid #1A271D;
}

#nickname {
	width: 125px;
	height: 30px;
}

#nicknamebtn {
	width: 70px;
	height: 34px;
	color : #f6f5f0;
	background-color: #1A271D;	
}

#nicknamebtn:hover {
	background-color: #f6f5f0;
	color : black;
}

#submit {
	width: 206px;
	height: 34px;
	color : #f6f5f0;
	background-color: #1A271D;	
}
#submit:hover {
	background-color: #f6f5f0;
	color : black;
}